trl
torch 
transformers 
datasets 
tqdm 
numpy 
matplotlib
peft
wandb
math_verify
tiktoken
sentencepiece
protobuf
git+https://github.com/joshuacnf/Ctrl-G
# module load cuda/12.6 arrow python/3.12 httpproxy